/*index.css*/
.section{
    color: #fff;

}


.s0{
    background-image: url('../image/6.jpg');
    background-size: cover;

}

#fp-nav ul li a span {
    background-color: #fff;
}

.s1 h3{
    display: none;
}