* {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

ul,
li {
  list-style: none;
}

img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

body {
  position: relative;
  height: 2910px;
}

body header {
  background-color: red;
  width: 10%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
}

body header #logo {
  height: 30px;
}

body header #logo img {
  width: 100%;
  height: 30px;
}

body header nav {
  width: 80%;
  margin-left: 10%;
}

body header nav li {
  font-size: 0.9rem;
  padding: 2% 4%;
}

body section {
  width: 100%;
  height: 34%;
}

body section.section1 {
  background-color: orange;
}

body section.section2 {
  background-color: skyblue;
}

body section.section3 {
  background-color: orange;
}

body footer {
  background-color: blue;
  width: 10%;
  height: 100%;
  position: fixed;
  right: 0;
  top: 0;
}
