* {
  padding: 0;
  margin: 0;
  font-family: "Noto Serif KR", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

ul,
li {
  list-style: none;
}

img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.menu {
  width: 100%;
  padding-top: 20px;
}

.menu li {
  font-weight: 600;
}

.menu li ul {
  padding: 5%;
}

.menu li ul li {
  font-size: 0.9rem;
  padding: 1% 4%;
  font-weight: 300;
}

.fab {
  font-size: 1.5rem;
}

.fab p {
  display: inline-block;
  vertical-align: middle;
  font-size: 1rem;
  padding-left: 0.5rem;
  font-family: "noto serif kr";
  font-weight: 500;
}

body {
  font-family: "noto serif kr";
  position: relative;
  height: 2910px;
  width: 100%;
}

body #pop {
  position: fixed;
  top: -45px;
  right: 0;
  z-index: 100;
  width: 100%;
  height: 50px;
  background-color: red;
}

body header {
  background-color: #cccccc;
  width: 6%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 50;
  padding: 4.375rem 1% 1% 1%;
}

body header #logo {
  width: 100%;
}

body header #logo img {
  height: 50px;
  width: 100%;
}

body header #serch .search {
  /* Layout Properties */
  margin: 5% 0;
  width: 100%;
  height: 20px;
  /* UI Properties */
  background: #ffffff 0% 0% no-repeat padding-box;
  border-radius: 20px;
  opacity: 1;
  border: none;
}

body section {
  width: 100%;
  height: 34%;
}

body section.section1 {
  background-color: orange;
}

body section.section2 {
  background-color: skyblue;
}

body section.section3 {
  background-color: orange;
}

body footer {
  background-color: #999999;
  width: 6%;
  height: 100%;
  position: fixed;
  right: 0;
  top: 0;
  padding: 2rem 1% 1% 1%;
}

body footer .meun_right {
  text-align: left;
}

body footer .meun_right li {
  padding: 5% 0;
}

body footer .companyDetail {
  position: fixed;
  bottom: 5%;
  font-weight: 100;
  font-size: 0.5rem;
}
