* {
    padding: 0;
    margin: 0;
    font-family: "Noto Serif KR", sans-serif;
    //font-size: 15px;
}
a {
    color: inherit;
    text-decoration: none;
    //display: inline;
}
ul,
li {
    list-style: none;
}
img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
$HeaderWidht: 8%;

.menu {
    width: 100%;
    padding-top: 20px;
    //margin-left: 10%;
    //font-weight: 500;

    & li {
        font-weight: 600;
        // padding: 3% 0;
        & ul {
            padding: 5%;
            & li {
                font-size: 0.9rem;
                padding: 1% 4%;
                font-weight: 300;
            }
        }
    }
}

.fab {
    font-size: 1.5rem;
    & p{
        display: inline-block;
        vertical-align: middle;
        font-size: 1rem;
        padding-left: 0.5rem;
        font-family: "noto serif kr";
        font-weight: 500;
    }
    
}


body {
    font-family: "noto serif kr";
    position: relative;
    //flex-grow: 1;
    height: 970px * 3;
    width:100%;

    & #pop{
        position: fixed;
        top:-45px;
        //top:0x;
        right: 0;
        z-index: 100;
        
        width:100%;
        height: 50px;
        background-color: red;
    }
    header {
        background-color: #cccccc;
       

        width: $HeaderWidht - 2%;
        height: 100%;
        position: fixed;
        left: 0;
        top: 0;
        z-index: 50;
        padding: 4.375rem 1% 1% 1% ;

       

        & #logo {
            //height: 30px;
            // top: 113px;
            // left: 43px;
            // width: 134px;
            // height: 59px;
            // position: absolute;
            // top: 0;
            // left: 0;
            width: 100%;

            & img {
                //width: 100%;
                height: 50px;
                //object-fit: cover;
                width: 100%;
            }
        }
        & #serch {
            & .search {
                /* Layout Properties */
                // top: 170px;
                // left: 40px;
                margin: 5% 0;

                width: 100%;
                height: 20px;
                /* UI Properties */
                background: #ffffff 0% 0% no-repeat padding-box;
                border-radius: 20px;
                opacity: 1;
                border: none;
            }
        }
        // & .menu {
        //     width: 100%;
        //     padding-top: 20px;
        //     //margin-left: 10%;
        //     //font-weight: 500;

        //     & li {
        //         font-weight: 600;
        //         // padding: 3% 0;
        //         & ul {
        //             padding: 5%;
        //             & li {
        //                 font-size: 0.9rem;
        //                 padding: 1% 4%;
        //                 font-weight: 300;
        //             }
        //         }
        //     }
        // }
    }

    section {
        width: 100%;
        height: 34%;

        &.section1 {
            background-color: orange;
        }
        &.section2 {
            background-color: skyblue;
        }
        &.section3 {
            background-color: orange;
        }
    }

    footer {
        background-color: #999999;

        width: $HeaderWidht - 2%;
        height: 100%;
        position: fixed;
        right: 0;
        top: 0;
        padding: 2rem 1% 1% 1% ;

        & .meun_right{
            text-align: left;

            & li{
                padding: 5% 0 ;
            }

        }

        & .companyDetail{
            position: fixed;
            bottom: 5%;
            font-weight: 100;
            font-size: 0.5rem;
        }
    }
}
